NEXT_PUBLIC_APP_URL=http://localhost:3000

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

BANK_API_BASE_URL=
BANK_SECRET_ID=
BANK_SECRET_KEY=
BANK_REDIRECT_URI=http://localhost:3000/api/bank/callback